lunarvim/.config/lvim/ignore
lunarvim/.config/lvim/plugin/
lunarvim/.config/nvim/pack/*
.luarc.json
.config/nvim/pack/*

**/*lock.json
**__pycache__**
**secrets**
tmux/**/plugins/*

glow*
ansible/
tmp/
ueberzugpp/
rbw/.config/rbw/config.json
